[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
isort = "*"
"flake8" = "*"

[packages]
"beautifulsoup4" = "==4.6.0"
celery = "==4.1.0"
dj-database-url = "==0.5.0"
django = "==2.0.5"
django-cors-headers = "==2.2.0"
django-extensions = "==2.0.7"
django-filter = "==2.0.0"
django-raster = "==0.6"
django-rest-swagger = "==2.2.0"
djangorestframework = "==3.8.2"
fiona = "==1.7.13"
gdal = "==2.3.1"
lxml = "==4.2.3"
matplotlib = "==2.2.2"
numpy = "==1.14.5"
"psycopg2-binary" = "==2.7.5"
pyproj = "==1.9.5.1"
python-decouple = "==3.1"
rasterio = "==1.0.0"
rdp = "==0.8"
raven = "==6.9.0"
scikit-image = "==0.14.0"
scipy = "==1.1.0"
shapely = "==1.6.4.post1"
whitenoise = "==3.3.1"

[requires]
python_version = "3.6"
